body {
    font-size: 24px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    border: 2px solid black;
    padding-top: 10px;
    padding-left: 5px;
}

#faded {
    opacity: 0.5;
    filter: grayscale(100%);
    width: 20px;
    height: 20px;
}

#normal {
    width: 35px;
    height: 35px;
}

#normal, #faded {
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}

#artist {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 2px;
}

#listen_count {
    text-align: right;
    color: #B8860B;
}

#songplays {
    max-width: 90%;
    max-height: 90%;
}